# Discord Library
discord.py>=2.3.2

# Database
asyncpg>=0.28.0
psycopg2-binary>=2.9.7

# Web Server/enviroment
flask>=2.3.3
python-dotenv>=1.0.0

# Data A vizualizace
matplotlib>=3.7.2
numpy>=1.24.3

# System Monitoring
psutil>=5.9.5

# HTTP Client
aiohttp>=3.8.5

# Vedlejší
typing-extensions>=4.7.1
